{% extends 'base.html.twig' %}

{% block title %}Welcome to the Symfony 4 Demo Project!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/site.css') }}">
{% endblock %}

{% block body %}
<div class="about-project">
    <h1>Welcome to the Symfony!</h1>
    <p>This is a demo project for learning the Symfony 4 Framework.</p>
    <p>
        The source code of this project available on
        <a href="{{ project_repo_url }}"
           target="_blank"
           rel="noopener">
            GitHub
        </a>
        page.
    </p>
</div>
<nav class="menu">
    <h2>Pages of this project</h2>
    <ul>
        <li>
            <a href="{{ path('article_show') }}">Article page</a>
        </li>
        <li>
            <a href="{{ path('article_motivate') }}">Motivation message</a>
        </li>
        <li>
            <a href="{{ path('admin_dashboard') }}">Admin dashboard</a>
        </li>
        <li>
            <a href="{{ path('translate', {'locale': 'ru', 'message': 'Hello world'}) }}">Translate message</a>
        </li>
        <li>
            <a href="{{ path('site_debug', {'param': 'this is some param value'}) }}">Debug</a>
        </li>
    </ul>
</nav>
{% endblock %}